<template name="DetailAgriculteur">
    <div>
        <div class="form-group">
            <label for="disabledTextInput">Prénom</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" value="{{agriculteur.prenom}}">
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Nom</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" value="{{agriculteur.nom}}">
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Adresse</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" value="{{agriculteur.adresse1}}">
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Code postal</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" value="{{agriculteur.codePostal}}">
        </div>
    </div>
</template>
